<!DOCTYPE HTML>
<html lang="eng">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script type="text/javascript">
	        var jsonData = {{ data|tojson|safe }};
	    </script>
        
        <title></title>
        
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        
    </head>
    <body>
        
        <div class="container">
          <div class="header clearfix">
           <h3 class="text-muted"><img src="{{ url_for('static', filename='logo.png') }}" alt="" /></h3>
          </div>
    
          <div class="jumbotron" id="search" style="display: inherit">
            <h2 class="lead">About this movie:</h2>
            <div class='row'>
	            <div class='col-lg-4'>
		            <div id="poster"></div>
	            </div>
	            <div class='col-lg-8'>
                    <p><b>Title: <strong id="title"></strong></b></p>
                    <p id="plot"></p>
                    <div id="table"></div>
                    <p><a href="#" onclick="showFull()" class="btn btn-lg btn-success">View full text</a></p>
	            </div>
            
            </div>

          </div>
          
          <div id="fulltext"></div>

        <script src="{{ url_for('static', filename='scriptsDetail.js') }}"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        
    </body>
</html>